# Applying Advanced Transformations

## Task
Your task is two-fold:

I. Clean the files and combine them into one final DataFrame.

This dataframe should have the following columns:
- Hero (Just the name of the Hero)
- Publisher
- Gender
- Eye color
- Race
- Hair color
- Height (numeric)
- Skin color
- Alignment
- Weight (numeric)
- Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
  - Agility
  - Flight
  - Superspeed
  - etc.
- Hint: There is a space in "100 kg" or "52.5 cm"



II. Use your combined DataFrame to answer the following questions.

1. Compare the average weight of super powers who have Super Speed to those who do not.
2. What is the average height of heroes for each publisher?

### Import Libraries

In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

### Upload Data

In [2]:
df_hero = pd.read_csv("Data\superhero_info - superhero_info.csv")
df_hero.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [3]:
df_power = pd.read_csv("Data\superhero_powers - superhero_powers.csv")
df_power.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [4]:
df_hero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [5]:
df_hero.duplicated().sum()

0

In [6]:
## save the 2 new columns into the dataframe
df_hero[['Hero','Publisher']] = df_hero['Hero|Publisher'].str.split('|',expand=True)
df_hero.head(4)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics

In [7]:
#dropping Hero/Publisher column
df_hero.drop(columns='Hero|Publisher', inplace=True)

In [8]:
#checking Measurement type
test_meas = df_hero.loc[0,'Measurements']
test_meas

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [9]:
type(test_meas)

str

In [10]:
#replace single quotes with double quotes
df_hero['Measurements'] = df_hero['Measurements'].str.replace("'",'"')
df_hero.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{""Height"": ""203.0 cm"", ""Weight"": ""441.0 kg""}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{""Height"": ""191.0 cm"", ""Weight"": ""65.0 kg""}",Abe Sapien,Dark Horse Comics

In [11]:
#convert Measurements column to a dict by using json.loads
df_hero['Measurements'] = df_hero['Measurements'].apply(json.loads)

In [12]:
#checking Measurement type
test_meas = df_hero.loc[0,'Measurements']
type(test_meas)

dict

In [13]:
df_hero['Measurements'].apply(pd.Series)

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [14]:
#adding the two columns to dataframe
df_hero = pd.concat([df_hero,df_hero['Measurements'].apply(pd.Series)],axis=1)

In [15]:
#drop the Measurements Column
df_hero.drop(columns='Measurements', inplace=True)

In [16]:
df_hero.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [17]:
#remove the cm and kg from Height and Weight columns
df_hero['Height'] = df_hero['Height'].str.replace(" cm",'')
df_hero['Weight'] = df_hero['Weight'].str.replace(" kg",'')

In [18]:
df_hero.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [19]:
#correcting datatypes
df_hero['Height'] = df_hero['Height'].astype(float)

In [20]:
#correcting datatypes
df_hero['Weight'] = df_hero['Weight'].astype(float)

In [21]:
#verifying changes were made
df_hero['Weight'].dtype

dtype('float64')

In [22]:
#checking Powers type
test_pw = df_power.loc[0,'Powers']
test_pw

'Agility,Super Strength,Stamina,Super Speed'

In [23]:
df_power['Powers'] = '["' + df_power['Powers']

In [24]:
df_power['Powers'] = df_power['Powers'] + '"]'

In [25]:
df_power['Powers'] = df_power['Powers'].str.replace(",",'","')

In [26]:
#checking Powers type
test_pw = df_power.loc[1,'Powers']
test_pw

'["Accelerated Healing","Durability","Longevity","Super Strength","Stamina","Camouflage","Self-Sustenance"]'

In [ ]:
# Apply json.loads to entire column
df_power['Powers_split'] = df_power['Powers'].apply(json.loads)
# check results
df_power['Powers'].head()

In [ ]:
df_power['Powers'].value_counts()

In [ ]:
## exploding the column of lists
exploded = df_power.explode('Powers')
exploded[['name','transactions','Powers']].head(5)

Got stuck and couldn't figure this one_hot_encode part but I can finish it during my lunch hour today at work. :( sorry.